.flexConf {
  display: flex;
  justify-content: center;
}

.container {
  width: 100dvw;
  height: 85%;
  @extend .flexConf;
  flex-direction: column;
  align-items: center;
}

.mainContainer {
  @extend .flexConf;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 446px;
  border: 1px solid #EAECF0;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #1018280D;
}

.buttonContainer {
  width: 450px;
  margin-top: 32px;
}

.newTaskButton {
  width: 100%;
  height: 51px;
  border-radius: 8px;
  background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
  border: none;
  color: white;
  font-weight:600;
  font-size: 16px;
}

.tasksToDoContainer {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.tasksToDoOpenContainer {
  @extend .tasksToDoContainer;
  height: 65%;
}

.tasksToDoFinishedContainer {
  @extend .tasksToDoContainer;
  height: 35%;
}

.tasksToDo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #D7DDE9;
  border-style: dashed;
  width: 90%;
  height: 56px;
  min-height: 56px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  &:hover {
    background-color: #F7F9FD;
  }
  cursor: pointer;
  margin-bottom: 10px;
}

.textToDo {
  display: flex;
}

.taskTitle {
  padding-left: 10px;
  font-size: 16px;
  margin: 0;
}

.textTitleFinished {
  @extend .taskTitle;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.toDoContainer {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;
}

.customCheckbox {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  // position: relative;
  cursor: pointer;
}

.customCheckbox::after {
  content: '';
  width: 4px;
  height: 9px;
  border: solid #0796D3;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  display: none;
  margin-left: 9px;
  margin-top: 5px;
}

/* Mostra o checkmark quando o checkbox está checado */
input[type="checkbox"]:checked + .customCheckbox {
  background-color: #A0DCF6;
  border-color: #0796D3;
}

/* Exibe o checkmark quando checado */
input[type="checkbox"]:checked + .customCheckbox::after {
  display: block;
}

.text {
  font-size: 16px;
  opacity: 0.5;
  margin-top: 20px;
  margin-bottom: 18px;
}

@media (max-width: 600px) {
  .mainContainer {
    width: 80%;
    height: 426px;
  }

  .buttonContainer {
    width: 80%;
    margin-top: 15px;
  }

  .tasksToDo {
    padding-left: 10px;
    padding-right: 10px;
    height: 52px;
  }

  .text {
    margin-top: 20px;
    margin-bottom: 18px;
  }

  .container {
    justify-content: flex-start;
    padding-top: 18px;
  }

  .tasksToDoOpenContainer {
    height: 66%;
  }
  
  .tasksToDoFinishedContainer {
    height: 34%;
  }
}